html, body
    width  100%
    height  100%
    margin  0px
    padding  0px
    background bg-dark

html
    font-family  sans-serif
    -ms-text-size-adjust  100%
    -webkit-text-size-adjust  100%

body
    font-family  "-apple-system", "BlinkMacSystemFont", "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif
    min-height 100%
    overflow auto

body *
	transition all 0.5s

main
    background-color home-color
    position  relative
    top  100%

section
    center(1024px)
    text-align center
    width 100%
    height 100%
    padding-top 100px
    &:last-child
        padding-bottom 50px

h1
	font-size 2.2em;

hr
  border none
  border-top 1px solid #2a2b2e
  width 10%

