ul.social-list
    width auto
    padding 0
    margin 0
    li
        margin 0 15px
        filter grayscale(30%)
        display inline-block
        +below(480px)
            margin 0 15px

.social-media-icon
    img
        transition all .4s ease-in-out
        width 48px
        height 48px
        &:hover
            transform scale(1.3)
