// Base colors
main-color = #4D6EAE
home-color = #fafafa
lightGray = #f2f2f2

// Dark mode
bg-dark = #303742
texts = #333333

// Icons colors
facebook-color = #3b5998
twitter-color = #6ac3e9
linkedin-color = #0177b5
github-color = #4d287a
mail-color = #af332f
whatsapp-color = #00E87C

// Font Weights
light = 300
regular = 500
bold = 700

// Breakpoints
bp-phone = 599px
bp-tablet-portrait = 600px
bp-tablet-landscape = 900px
bp-desktop = 1200px
bp-big-desktop = 1800px
