<!DOCTYPE html>
<html lang="pt-br">

<head>
{% include "includes/head.njk" %}
</head>

<body>

{% include "includes/header.njk" %}

{% block main %}

{% endblock %}

	<a href="#" class="cd-top"></a>
	<!-- JavaScript -->
	<script src="vendor/jquery.min.js"></script>
	<script src="vendor/jquery.mask.min.js"></script>
	<script src="vendor/scrollreveal.min.js"></script>
	<script src="js/index.js"></script>
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-125056743-1"></script>
	<script src='https://www.google.com/recaptcha/api.js'></script>
</body>

</html>
