<section id="about" class="tagreveal">

	{# Description #}
	<div class="row">
		<div class="profile-img">
			<img class="img-rounded" src="https://thallesmarchetti.s3-sa-east-1.amazonaws.com/job3.png" alt="Imagem de Perfil">
			<div class="row">
				<ul class="social-list">
					<li>
						<a href="https://github.com/thallesmarchetti" target="_blank" rel="noopener"
							class="social-media-icon"><img src="images/svg/circle_github.svg" alt="ícone do GitHub"></a>
					</li>
					<li>
						<a href="http://linkedin.com/in/thalles-marchetti" target="_blank" rel="noopener"
							class="social-media-icon"><img src="images/svg/circle_linkedin.svg" alt="ícone do Linkedin"></a>
					</li>
					<li>
						<a href="https://api.whatsapp.com/send?phone=5521994050891&amp" target="_blank" rel="noopener"
							class="social-media-icon"><img src="images/svg/circle_whatsapp.svg" alt="ícone do whatsapp"></a>
					</li>
				</ul>
			</div>
		</div>
		<div class="profile-text">
			<h2>Olá, sou Thalles Marchetti!</h2>
			<p>Um apaixonado por tecnologias ligadas à web e mobile. Atualmente trabalhando como analista de suporte na <a class="profile-anchor"
					href="https://www.freseniusmedicalcare.com.br/" target="_blank" rel="noopener">
					<u
							class="dashed">Fresenius Medical Care</u>
				</a>, pós
				graduando MIT em desenvolvimento mobile pelo <a class="profile-anchor"
					href="https://www.infnet.edu.br/esti/proposta-mit-em-desenvolvimento-mobile/" target="_blank" rel="noopener">
					<u
						class="dashed">Instituto
						Infnet</u>
				</a> e Bacharel em Administração. Possuo Certificação de formação Front End
				pela Caelum. Realizei intercâmbio de 6 meses para cidade de Brisbane na Austrália no ano de 2009.</p>
		</div>
	</div>

	{# Projects #}
	<div class="row">
		{# Mobile #}
		<div class="projects">
			<h2>Projetos Mobile</h2>
			<ul class="project-list">
				<li>
					<a class="profile-anchor" href="https://thallesmarchetti.github.io/TodoList/" target="_blank"
						rel="noopener">
						<u class="dashed">TodoList</u>
					</a> - App TodoList feita no projeto de bloco de iOS</li>
				<li>
					<a class="profile-anchor" href="https://thallesmarchetti.github.io/instagram_clone/" target="_blank"
						rel="noopener">
						<u class="dashed">Instagram Clone</u>
					</a> - App Instagram Clone feito no projeto de bloco de React-Native</li>
				<li>
					<a class="profile-anchor" href="https://github.com/thallesmarchetti/Quizzer.git" target="_blank"
						rel="noopener">
						<u class="dashed">Quizzer</u>
					</a> - App Quizzer feito durante bloco de React-Native</li>
			</ul>
		</div>
		{# Front-End #}
		<div class="projects">
			<h2>Projetos Front-End</h2>
			<ul class="project-list">
				<li>
					<a class="profile-anchor" href="https://thallesmarchetti.github.io/Marchetti_boilerplate/"
						target="_blank" rel="noopener">
						<u class="dashed">Marchetti_boilerplate</u>
					</a> - Um simples
					boilerplate
					utilizando: ES6, Gulp, Stylus, Nunjucks e Browsersync.</li>
				<li>
					<a class="profile-anchor" href="https://thallesmarchetti.github.io/codelabs/" target="_blank"
						rel="noopener">
						<u class="dashed">CodeLabs</u>
					</a> - Alguns experimentos em Front-End</li>
			</ul>
		</div>

	</div>

</section>
